body{
  background-image: url("img/background\ 1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Roboto', sans-serif;
  
}

.conteiner{
  width: 1028px;
  margin: 0 auto;
  color: white;
  
}

.header{
  display: flex;
  align-items: end;
  margin-top: 41px;
  margin-bottom: 22px;
}

.logo_imge:hover .logo_white{
  display: none;
}

.logo_imge:hover .logo_orange{
  display: block;
}

.logo_white{
  display: block;
}

.logo_imge{
  display: flex;
gap: 10px;
}

.logo_orange{
  display: none;
}

.text_logo{
  position: relative;
  top: 2px;
}

.logo_imge:hover .text1{
  color: #F26522;
}

.logo_imge:hover .text2{
  color: #F26522;
}

.text1{
  color: white;
  width: 140px;
  font-weight: 700;
font-size: 29px;
line-height: 29px;
position: relative;
bottom: 3px;
}



.text2{
  color: white;
  width: 135px;
height: 21px;
  font-weight: 700;
font-size: 18px;
line-height: 18px;
}



.contact{
  width: 1028px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
align-items: end;
}

.email{
  color: white;
  width: 219px;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 19px;
  text-align: end;
}

.email:hover{
  color: #F26522;
}

.tel{
  color: white;
  width: 146px;
  font-weight: 400;
font-size: 18px;
text-align: end;
}

.tel:hover{
  color: #F26522;
}



.main_list{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(2, 2fr);
  column-gap: 62px;
  font-family: 'Roboto', sans-serif;
  
}

.main_itam{
  position: relative;
}

.imge{
  width: 300px;
}


.text_main_itam{
  color: white;
font-size: 18px;
padding-top: 20px;
padding-bottom: 37px;
text-align: center;

}

.under_text_image2{
  color: white;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 37px;
  text-align: center;
}



.hover_text{
  display: flex;
  color: white;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 9px;
  background-color: #F26522;
  width: 300px;
  position: absolute;
  top: 165px;
  opacity: 0;
}

.main_itam:hover .hover_text{
  opacity: 1;
}

.text_for_2image{
  display: flex;
  color: white;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 9px;
  background-color: #F26522;
  width: 293px;
  position: absolute;
  left: 3px;
  top: 165px;
  opacity: 0;
}
.main_itam:hover .text_for_2image{
  opacity: 1;
}

.main_itam:hover .text_under_photo{
  color: #F26522;
}


.from_euro{
padding-left: 16px;
}

.from{
font-size: 10px;
margin-bottom: 9px;
}

.euro{
font-size: 20px;
line-height: 20px;
}

.view::after{
  content:"";
  display: block;
  width: 5px;
height: 5px;
border-top: 1px solid #FFFFFF;
border-right: 1px solid #FFFFFF;
  transform: rotate(45deg);
  margin-left: 16px;


}

.view{
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: 400;
font-size: 14px;
align-self: end;
padding-right: 14px;
}

.text_2{
  font-weight: 400;
font-size: 18px;
line-height: 18px;
align-items: center;
text-align: center;
padding-top: 10px;
padding-bottom: 37px;
}

.footer{
display: flex;
text-align: center;
justify-content: center;
font-family: 'Roboto', sans-serif;
}

.footer1{
  color: white;
  font-weight: 400;
font-size: 12px;
line-height: 12px;
padding-bottom: 15px;
}

